@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Raleway:wght@100;200;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway;
}
html{
  scroll-behavior: smooth;
}
/* ...........................Start Nav .................................... */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 20px 90px;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}
.fa-bars {
  display: none;
  color: black;
  font-size: 30px;
}
nav #logo h1 a {
  text-decoration: none;
  color: rgb(95, 207, 128);
  font-size: 30px;
  font-weight: 700;
}
nav ul {
  display: inline-block;
  position: relative;
}
nav ul li {
  display: inline-block;
  position: relative;
  padding: 10px 15px;
}
.btn {
  background-color: #47b869;
  border-radius: 40px;
  border: none;
  color: white;
  padding: 10px 20px;
}
.btn:hover {
  background-color: rgb(52, 183, 91);
}
.btn a {
  color: white;
}
.btn a:hover {
  color: white;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
}
/* nav ul li a:hover {
  color: rgb(58, 193, 98);
}
nav ul li a:focus{
  color: rgb(58, 193, 98);
} */
/* .link{
  color: red;
}  */

nav ul ul {
  position: absolute;
  top: 40px;
  width: 200px;
  box-shadow: 0 10 30 rgb(0, 0,0,0.5);
  transition: all 0.3s ease-in-out;
  text-align: center;
  background-color: white;
  display: none;
  border-radius: 1%;
}
nav ul ul li {
  padding: 10px 40px;
  border-bottom: 4px solid transparent;

}
nav ul ul li:hover {
  border-bottom: 4px solid gray;
  background-color: rgb(134, 210, 145);
}
nav ul li:hover > ul {
  display: block;
}
nav ul ul ul {
  position: absolute;
  top: 6px;
  left: -200px;
  /* right: 180px; */
  width: 200px;
  box-shadow: 0 10 15 rgba(0, 0, 0, 0.5);
  background-color: white;
  display: none;
  transition: all ease-in-out;
  border-radius: 1%;
}
nav ul ul ul li {
  padding: 10px 40px;
  border-bottom: 4px solid transparent
}
nav ul ul ul li:hover {
  border-bottom: 4px solid gray;

}
nav ul ul li:hover > ul {
  display: block;
}
/* ...........................End Nav .................................... */
/* ...........................Start Sect1 .................................... */
.sect1 {
  background: rgba(0, 0, 0, 0.4) url(../images/hero-bg.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sect1 .home {
  padding: 90px;
  color: white;
  width: 90%;
}
.sect1 .home h1 {
  font-size: 44px;
  font-weight: 800;
  width: 50%;
  font-family: Poppins,sans-serif;
}
.sect1 p {
  font-size: 26px;
  font-weight: 500;
  padding: 15px 0px;
  color: gainsboro;
}
.sect1 button a {
  text-decoration: none;
  /* padding: 30px 40px; */
  margin: 50px 0px;
  color: white;
}
.sect1 button {
  padding: 10px 30px;
  margin: 20px 0px;
  font-size: 18px;
  font-weight: 400;
  background: transparent;
  border: 2px solid white;
  border-radius: 40px;
  transition: all 0.4s ease-in-out;
}
.sect1 button:hover {
  transition: all 0.4s ease-in-out;
  background: rgb(95, 207, 128);
  border: 2px solid rgb(95, 207, 128);
}

/* ...........................End Section 1 .................................... */
/* ...................................... Start Section 2............................... */

.sect2 {
  padding: 80px 90px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
.sect2 .description{
    width: 50%;
    padding: 20px 20px 20px 5px;
    color: rgba(0, 0, 0, 0.7);
}
.sect2 .image-family{
    width: 50%;
}
.sect2 .image-family img{
width: 100%;
}
.sect2 .test{
   list-style: none;
}
.sect2 .test li{
    padding: 10px ;
    font-size: 17px;
    font-weight: 500;
}
.sect2 .test li:nth-child(1){
    font-size: 24px;
    color: black;
}
.sect2 .test li:nth-child(2){
    font-size: 15px;
    
}
.sect2 .test li i{
  color: rgb(58, 193, 98);
  font-size: 20px;
  padding-right: 5px;
}
/* ...................................... End Section 2............................... */
/* ...................................... Start Section 3............................... */
.sect3{
  padding: 50px 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(246, 247, 246);
}
.sect3 .number{
    width: 25%;
    text-align: center;
}
.sect3 .number h3{
font-size: 50px;
color: rgb(58, 193, 98);
}
.sect3 .number p{
    font-size: 15px;
    font-weight: 600;
}

/* ...................................... End Section 3............................... */
/* ...................................... Start Section 4............................... */
.sect4{
padding:70px 90px 40px 90px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
.sect4 .choose{
width: 30%;
padding: 45px 32px;
background-color: rgb(95, 207, 128);
color: white;
border-radius: 5px;
margin-bottom: 10px;
}
.sect4 .choose h2{
font-size: 35px;
font-weight: 700;
}
.sect4 .choose p{
font-size: 17px;
font-weight: 400;
margin: 25px 0px;
}
.more{
  text-align: center;  
}
.sect4 .choose a{
font-size: 16px;
font-weight: 400;
padding: 10px 30px ;
text-decoration: none;
color: white;
background-color: rgba(167, 220, 183, 0.904);
border-radius: 20px;
}
.sect4 .choose a:hover{
    color: rgb(58, 193, 98);
    background-color: white;
    transition: all .5s ease-in-out;
    }
.sect4 .choose a i{
    font-size: 15px;
}
.three-div{
width: 69%;
display: flex;
justify-content: space-around;
align-items: center;
}
.one-div{
width: 33%;
padding: 25px;
text-align: center;
border: 1px solid rgb(238, 238, 238);
margin: 20px 10px;
}
.one-div h3{
   font-size: 22px;
   margin: 20px 0px;
    }
.one-div p{
 margin: 30px 0px;
 color: grey;
         }
.one-div i{
font-size: 30px;
margin: 15px 0px;
color: rgb(95, 207, 128);
background-color: rgb(236, 249, 240);
padding: 20px;
border-radius: 50%;
  }      
/* ...................................... End Section 4............................... */
/* ...................................... Start Section 5............................... */
.sect5{
    padding: 10px 90px 30px 90px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
}
.sect5 .icoon{
    padding: 20px;
    width: 23%;
    border: 1px solid rgb(238, 238, 238);
    display: inline-block;
margin-bottom: 20px;
color: black;
transition: all .5s ease-in-out;
}
.sect5 .icoon:hover{
 border: 1px solid rgb(58, 193, 98);
transition: all .5s ease-in-out;
}
.sect5 .icoon h4{
    display: inline-block;
    color: rgba(4, 3, 3, 0.7);
    transition: all .5s ease-in-out;
} 
.sect5 .icoon:hover h4{
    display: inline-block;
    color: rgb(58, 193, 98);
    transition: all .5s ease-in-out;
} 
.sect5 .icoon i{
    font-size: 26px;
    padding: 0px 10px 0px 0px;
} 
.sect5 .icoon1 i{
    color: #ffc107;
} 
.sect5 .icoon2 i{
   color: #0d6efd;
} 
.sect5 .icoon3 i{
    color: rgb(232, 3, 104);
} 
.sect5 .icoon4 i{
    color: rgb(227, 97, 255);
} 
.sect5 .icoon5 i{
    color: rgb(71, 174, 255);
} 
.sect5 .icoon6 i{
    color: rgb(255, 167, 110);
} 
.sect5 .icoon7 i{
    color: rgb(17, 219, 207);
} 
.sect5 .icoon8 i{
    color: rgb(66, 51, 255);
} 
.sect5 .icoon9 i{
    color: rgb(178, 144, 79);
} 
.sect5 .icoon10 i{
    color: rgb(178, 9, 105);
} 
.sect5 .icoon11 i{
    color: rgb(255, 88, 40);
} 
.sect5 .icoon12 i{
    color: rgb(41, 204, 97);
} 
/* ...................................... End Section 5............................... */
/* ...................................... Start Section 6............................... */
.sect6{
  padding:50px 90px;
}
.grand-titre h5{
color: rgb(160, 160, 160);
font-size: 13px;
font-weight: 600;
letter-spacing: 1.5px;
display: inline-block;

}
.grand-titre .line{
  width: 120px;
  height: 1px;
  background-color: rgb(95, 207, 128);
  display: inline-block;
margin: 0px 0px 3px 10px;
  }
.grand-titre h2{
  font-size: 34px;
  font-weight: 800;
  margin: 10px 0px 20px 0px;
  }
.courses{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}
.cours{
  width: 32%;
  margin: 10px 0px;
border: 1px solid rgb(218, 218, 218);
border-radius: 5px;
}
.image-cours{
  width: 100%;
}
.image-cours img{
  width: 100%;
}
.prix{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.prix a{
  text-decoration: none;
  padding: 10px;
  background-color: rgb(58, 193, 98);
  font-size: 14px;
  color: white;
}
.prix a:hover{
  transition: all .3s ease-in-out;
  background-color: rgb(43, 143, 73);
  transform: scale(1.01);
}
.prix h4{
  font-size: 20px;
  padding: 10px;
}
.title-cours{
  padding: 10px 15px;
}
.title-cours h4{
  font-size: 20px;
}
.title-cours h4:hover{
  color: rgb(58, 193, 98);
  transition: all .2s ease-in-out;
}
.title-cours p{
  font-size: 14px;
  font-weight: 500;
  padding: 13px 0px;
  color: rgb(160, 160, 160);
  border-bottom: 1px solid rgb(218, 218, 218);
}
.prof-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 15px 15px;
}
.img-prof{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-prof img{
  width: 50px;
  height: 50px;
border-radius: 50%;
}
.img-prof h5{
  font-size: 16px;
  padding: 0px 10px;
  color: gray;
}
.like-cours{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
  color: gray;
}
.like-cours p{
  padding: 0px 8px;
}
.like-cours i:hover{
 color: rgb(58, 193, 98);
 transition: all .3s ease-in-out;
}
/* ...................................... End Section 6............................... */
/* ...................................... Start Section 7............................... */
.sect7{
    padding:  50px 90px;
    display: flex;
    justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
.prof{
width: 32%;
margin: 10px 0px;
border: 1px solid rgb(218, 218, 218);
}
.prof .prof-photo{
    width: 100%;

}
.prof .prof-photo img{
    width: 100%;
}
.prof .descript{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 20px;
}
.prof .descript .titles{
 margin: 20px 0px ;
 color: dimgray;
}
.prof .descript .titles h5{
    font-size: 13px;
    font-weight: 500;
    margin-top: 3px;
   }
.prof .descript p{
 font-size: 14px;
 font-weight: 500;
 font-style: italic;
 color: rgb(167, 167, 167);
}
.prof .descript .media{
    margin: 20px 0px;
    font-size: 22px;
    color: rgb(121, 142, 128);
    cursor: pointer;
}
.prof .descript .media i:hover{
   transition: all .2s ease-in-out;
    color: rgb(95, 207, 128);
}
/* ...................................... End Section 7............................... */
/* ...................................... Start Section 8............................... */
.sect8{
padding: 50px 90px  ;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
margin-bottom: 180px;
}
.event{
  width: 49%;
  position: relative;
  margin-bottom: 100px;
}
.image-event{
  width: 100%;
  overflow: hidden;
}
.image-event img{
  width: 100%;
  transition: all .5s ease-in-out;

   /* display: block; */ 
}
.event .description-event{
  background-color: white;
  position: absolute ;
  width: 90%;
  left: 5%;
  top: 82%;
  text-align: center;
  padding: 30px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  border-top: 4px solid white;
}
.description-event h4{
  margin: 10px 0px;
  font-size: 20px;
}
.event:hover img{
  transform:scale(1.1);
  transition: all .5s ease-in-out;
}
.event:hover .description-event{
  border-top: 4px solid rgb(58, 193, 98);
  transition: all .3s ease-in-out;
}
.event:hover h4{
  color: rgb(58, 193, 98);
  transition: all .3s ease-in-out;
}
.description-event address{
  margin: 15px 0px;
  font-size: 16px;
font-weight: 400;
  color: rgb(105, 104, 104);
}
.description-event p{
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(115, 115, 115);
  text-align: start;
}
/* ...................................... End Section 8............................... */
/* ...................................... Start Section 9............................... */
.sect9{
padding: 70px 90px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
.pricing-item{
  width: 23.3%;
  text-align: center;
  border: 1px solid rgb(242, 242, 242);
  color: rgb(119, 119, 119);
  transition: all .3s ease-in-out;
}
.pricing-item:hover{
  border: 1px solid rgb(84, 181, 113);
 transition: all .3s ease-in-out;
 }
.pricing-head{
  padding:20px 25px;
  background-color: rgb(248, 248, 248);
}
.pricing-body{ 
  padding: 10px ;
  border: 1px solid rgb(248, 248, 248);
  transition: all .3s ease-in-out;
}
.pricing-body h3{ 
  color: rgb(95, 207, 128);
  font-size: 38px;
  font-weight: 700;
}
.pricing-body h3 span{ 
  color: rgb(177, 177, 177);
  font-size: 16px;
  font-weight: 500;
}
.pricing-body h3 sup{ 
  font-size: 20px;
  font-weight: 700;
  padding: 0px 3px;
}
.pricing-body ul{ 
 padding: 20px;
  text-decoration: none;
  list-style: none;
}
.pricing-body ul li{ 
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 600;
 }
.pricing-foot{
  padding:28px 30px ;
  background-color: rgb(248, 248, 248);
}
.pricing-foot a{
  padding:10px 35px ;
  background-color: rgb(95, 207, 128);
text-decoration: none;
font-size: 14px;
font-weight: 600;
color: white;
border-radius: 40px;
transition: all .3s ease-in-out;
}
.pricing-foot a:hover{
 background-color: rgb(84, 181, 113);
transition: all .3s ease-in-out;
}
.item1 .pricing-body ul li:nth-child(4){
  text-decoration: line-through;
  color:rgb(177, 177, 177) ;
}
.item1 .pricing-body ul li:nth-child(5){
  text-decoration: line-through;
  color:rgb(177, 177, 177) ;
}
.item2 .pricing-body ul li:nth-child(5){
  text-decoration: line-through;
  color:rgb(177, 177, 177) ;
}
.item2 .pricing-head{
  background-color: rgb(95, 207, 128);
  color: white;
}
.advanced{
  position: relative;
  overflow: hidden;
}
.advanced::before{
  content: "Advanced";
  position: absolute;
  top: 23px;
  right: -50px;
  background-color: rgb(95, 207, 128);
  color: white;
  padding: 5px 50px;
  transform: rotate(45deg);
font-weight: 500;
}
/* ...................................... End Section 9............................... */
/* ...................................... Start Section 10............................... */
.sect10{
  padding: 70px 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.map{
  width: 100%;
}
.map iframe{
  width: 100%;
  border: 5px solid rgb(95, 207, 128);
}
.contact{
  width: 100%;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
padding-top: 50px;
}
.address{
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.address-item {
padding: 15px 0px;
display: flex;
justify-content: space-between;
align-items: center;
}
.address-item div{
  display: inline-block;
  padding: 0px 10px;
  }
.address-item h2{
  color: rgb(58, 58, 58);
  font-weight: 600;
  font-size: 23px;
    }
.address-item p{
    font-size: 15px;
  padding: 5px 0px;
  color: rgb(152, 166, 154);
  
    }
.address-item i{
    font-size: 18px;
  padding: 12px;
  color: rgb(134, 210, 145);
  background-color: rgb(236, 249, 240);
  border-radius: 50%;
  margin: 0px 10px;
  transition: all .3s ease-in-out;
    }
  .address-item:hover i{
    color: white;
    background-color: rgb(58, 193, 98);
    transition: all .3s ease-in-out;
      }
#form{
width: 65%;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
  } 
  #form input:focus{
border: 1px solid rgb(35, 185, 80);
      }
      #form textarea:focus{
border: 1px solid rgb(35, 185, 80);
              } 
.full-name{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 0px;
  }
.full-name input{
  width: 48%;
  padding: 13px;
  outline: none; border-radius: 5px;
  border: 1px solid rgb(199, 199, 199);
  font-size: 14px;
  font-weight: 500;
}  
.subject{
  width: 100%;
  padding: 10px 0px;

} 
.subject input{
  width: 100%;
  padding: 13px;
  outline: none;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}
.message{
  width: 100%;
  padding: 10px 0px 20px 0px;

}
.message textarea{
  width: 100%;
height: 25vh;
padding: 13px;
outline: none;border-radius: 5px;
border: 1px solid rgb(199, 199, 199);
font-size: 14px;
font-weight: 500;
}

/* .formulaire a{
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: rgb(95, 207, 128);
  padding: 12px 32px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  transition: all .3s ease-in-out;  
}
.formulaire a:hover{
  background-color: rgb(58, 193, 98);
  transition: all .3s ease-in-out;
} */
#form button{
  text-decoration: none;
  text-align: center;
  border: none;
  color: white;
  background-color: rgb(95, 207, 128);
  padding: 12px 32px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  transition: all .3s ease-in-out;  
}
#form button:hover{
  background-color: rgb(58, 193, 98);
  transition: all .3s ease-in-out;
}
/* ............................Form emailjs....................... */






/* ...................................... End Section 10............................... */
/* ...................................... Start Section 11............................... */
.sect11{
padding: 50px 90px;
}
/* End about 'grand-titre' class we were stylese before in Section  6 'courses' */
 .testimonials{
  margin: 10px;
}
.testimonial{
 position: relative;
}
.slick{
  margin: 40px 50px;
  padding: 50px;
  border: 1px solid rgb(215, 215, 215);
}
.testimonial-photo{
 width: 80px;
  height: 80px;
 /*  align-self: flex-start*/
  position: absolute;
  padding: 10px ;
}
.testimonial-photo img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -100px;
  object-fit: contain;border-radius: 5px;
}
.testimonial-name{
  align-self: flex-start;
  padding: 10px 20px,;
}
.testimonial-name h4{
  color: rgb(105, 104, 104);
  font-weight: 500;
  font-size: 14px;
  margin:  5px 0px;
}
.testimonial-content{
  text-align: center;
  margin:10px;
  /* border: 1px solid gainsboro; */
}
.testimonial-content p{
 display: inline;
font-size: 17px;
font-weight: 500;
color: rgb(68, 68, 68);
}
.testimonial-content i{
 font-size: 25px;
 font-weight: 600;
 color: rgba(167, 220, 183, 0.904);
 }
 .slick-next:before, .slick-prev:before {
  opacity: 0;
}
.slick-dots li button:before{
  font-size: 13px;
  color: rgb(210, 210, 210);
  opacity: .75;
}
.slick-dots li.slick-active button:before{
  color: rgb(134, 210, 145);
  opacity: 1;
}


/* ...................................... End Section 11............................... */
/* ...................................... Start Section 12............................... */
.sect12{
  padding: 50px ;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: rgb(249, 250, 249);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
flex-wrap: wrap;
}
.footer-item{
  width: 25%;
  margin: 10px;
}
.Mentor{
  width: 20%;
  display: flex;
  justify-content:center;
  align-items: flex-start;
  flex-direction: column;
}
.mentor-item{
margin: 0px 0px 30px 0px;
font-size: 14px;
font-weight: 500;
}
/* .mentor-name address{
  font-size:16px;
  /* font-weight: 500; 
  } */
.mentor-name h2{
font-size:30px;
font-weight: 500;
}
.mentor-address address{
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  width: 60%;
  color: rgb(111, 121, 112);
}
.mentor-phone{
  color: rgb(111, 121, 112);
}
.mentor-phone p{
  padding: 2px 0px;
  font-size: 14px;
  font-weight: 400;
}
.mentor-phone b{
  color: rgb(80, 80, 80);
}
.Links{
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 0px;
}
.Links h3{
  margin-bottom: 10px;
  font-size: 17px;
}
.Links ul{
  list-style: none;
}
.Links ul li{
  padding: 10px 0px; 
}
.Links ul li i{
  font-size: 12px;
padding: 0px 5px;
color: rgb(58, 193, 98);
    
}
.Links ul li a{
  text-decoration: none;
  color: rgb(111, 121, 112);
  font-size: 14px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .3s ease-in-out;

}
.Links ul li a:hover{
  color: rgb(58, 193, 98);
  transition: all .3s ease-in-out;
}
.newsletter{
  width: 30%;
}
.newsletter h3{
  margin-bottom: 20px;
  font-size: 17px;
}
.newsletter p{
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(80, 80, 80);
}
.newsletter .subscribe{
  margin-top: 40px;
  background-color: white;
  padding: 6px 10px;
  border-radius: 25px;
  border: 1px solid rgb(224, 229, 226);
  position: relative;
}
.newsletter .subscribe input{
  width: 70%;
  padding: 8px 0px;
  border: none;
  position: relative;
  font-size: 15px;
  font-size: 500;
}
.newsletter .subscribe button{
  width: 32%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  border: none;
  background-color: #5fcf80;
  color: white;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}
.newsletter .subscribe button:hover{
background-color:rgb(58, 193, 98) ;
  }
/* ...................................... End Section 12............................... */
/* ...................................... Start Section 13............................... */
.sect13{
  padding: 20px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
flex-wrap: wrap;
background-color: rgb(238, 240, 239);
}
.copyright p{
font-size: 14px;
font-weight: 400;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 3px;
color: rgb(45, 45, 45);
}
.copyright p:nth-child(2),.copyright span{
  font-size: 13px;
}
.copyright span{
  color: #47b869;
  transition: all .3s ease;
  cursor: pointer;
}
.copyright span:hover{
  color: #5fcf80;
  transition: all .3s ease;
}
.reseaux-social i{
padding: 10px;
margin: 3px;
color: white;
background-color: #47b869;
border-radius: 50%;
transition: all .4s ease-in-out;
}
.reseaux-social i:hover{
  transform: scale(0.9);
  background-color: #5fcf80;
  transition: all .4s ease-in-out;
  }
/* ...................................... End Section 13............................... */
/* ......................................TO TOP BUTTON................................... */
/* .triangle{
  height: 0;
  width: 0;
   border-left: 22px solid transparent;
  border-right: 22px solid transparent;
 border-bottom: 40px solid rgb(200, 200, 200);
 position: fixed;
 bottom: 3%;
 right: 1%;
} */
.mini-triangle{
  height: 40px;
  width: 30px;
  background-color: #47b869;
 position: fixed;
 bottom: 1%;
 right: 1%;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.mini-triangle i{
  color: white;
  transform: translate(0%,100%);
  animation: to-top 1s infinite ;
}
@keyframes to-top {
  from{
    opacity: 0;
    transform: translateY(0.4rem);
  }
  to{
    opacity: 1;
    transform: translateY(-0.2rem);
  }
}
/* ...................................... Start Section 14............................... */
.Introduction{
  padding: 30px 90px;
  background-color: #47b869;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.Introduction h2{
  font-size: 30px;
  font-weight: 500;
}
.Introduction p{
  padding-top:20px ;
  font-size: 15px;
  font-weight: 400;
}
/* ...................................... End Section 14............................... */
/* ...................................... Start Section 15............................... */
.sect15{
  padding: 50px 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: Poppins;
}
.details{
  width: 66%;
  margin: 0px 5px;
}
.details-img{
  width: 100%;
  /* background-color: #ffc107; */
}
.details-img img{
  width: 100%;
  object-fit: cover;
}
.courses-paragraph {
margin: 25px 0px;
}
.courses-paragraph h2{
  color: rgb(57, 57, 57);
  padding: 15px 0px;
}
.courses-paragraph p{
  border-top: 1px solid rgb(230, 230, 230);
  padding: 15px 0px;
  font-size: 15px;
  /* font-weight: 00; */
  color: rgb(90, 90, 90);
  font-family:  Poppins;
}

.courses-informations{
  width: 32%;
  vertical-align: top;
}
.courses-informations .part{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px ;
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  background-color:rgb(240, 240, 240) ;
}
.part .key{
color: rgb(91, 91, 91);
}
.part .value{
  font-weight: 600;
}
.part .value1{
  font-weight: 600;
  color:rgb(70, 128, 0);
}







/* ...................................... End Section 15............................... */
/* ...................................... Start Section 16............................... */

/* ...................................... End Section 16............................... */



































/* ..............................Media Qr (1100px) .................................... */

@media screen and (max-width: 1100px) {
  /* ...........................Start Nav .................................... */
  nav {
    padding: 20px 40px;}
  .fa-bars {
    display: block;
    margin-left: 10px;
  }
  nav ul {
    display: none;
    position: fixed;
    background-color: gainsboro;
    border-radius: 1%;
    height: 100vh;
    width: 90%;
    top: 10%;
    padding: 20px;
  }
  nav ul.active {
    display: block;
    position: fixed;
    background-color: gainsboro;
    border-radius: 1%;
    height: 100vh;
    width: 80%;
    top: 10%;
    padding: 20px;

    align-self: center;
    overflow: scroll;
  }
  nav ul li {
    display: block;
    padding: 20px 30px;
  }
  nav ul li a {
    font-size: 20px;
    font-weight: 700;
  }
  .btn {
    padding: 10px;
    border-radius: 10px;
    width: 170px;
    text-align: center;
  }
  nav ul ul {
    position: absolute;
    top: -300px;
    width: 94%;
    height: 60vh;
    box-shadow: 0 10 15 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    text-align: center;
    background-color: rgb(214, 169, 169);
    border-radius: 1%;
    z-index: 1;
  }
  nav ul ul ul {
    position: absolute;
    top: 50px;
    height: 60vh;
    width: 100%;
    left: 0px;
    right: 10px;
    z-index: 5;
    box-shadow: 0 10 15 rgba(0, 0, 0, 0.5);
    background-color: rgb(222, 180, 180);
    transition: all ease-in-out;
    border-radius: 1%;
  }
  /* ...........................End Nav .................................... */
/* ......................................Section 1............................... */

  .sect1 {
    height: 100vh;
    padding: 50px;
  }
  .sect1 .home {
    padding: 30px;
  }
/* ......................................Section 2............................... */
.sect2{
    padding: 40px ;
}  
.sect2 .description{
    width: 100%;
  padding: 5px;
  margin-top: 20px;
}

.sect2 .image-family{
    width: 100%;
}
/* ......................................Section 3............................... */
.sect3{
    padding: 40px;
}
.sect3 .number{
    width: 50%;
    margin-top: 20px;
}
/* ......................................Section 4............................... */
 .sect4{
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        }
.sect4 .choose{
    width: 100%;
    padding: 28px;
    }

    .sect4 .choose h2{
        font-size: 30px;
        font-weight: 700;
        }
        .sect4 .choose p{
        font-size: 15px;
        font-weight: 400;
        margin: 25px 0px;
        }
        
.three-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    flex-wrap: wrap;
    }
    .one-div{
    width: 100%;
    padding: 25px;
    margin: 20px 0px;
    } 
 /* ......................................Section 5............................... */
 .sect5{
    padding: 40px;
    }
.sect5 .icoon{
 width: 100%; 
    }
/* ......................................Section 6............................... */
.sect6{
  padding: 40px;
}
.cours{
  width: 100%;
}
/* ......................................Section 7............................... */
.sect7{
    padding: 40px;
}
.prof{
    width: 100%;
    }
/* ......................................Section 8............................... */
.sect8{
  padding: 40px;
}
.event{
    width: 100%;
    margin-bottom: 200px;
  }
/* ......................................Section 9............................... */
.sect9{
  padding: 40px;
  }
  .pricing-item{
    width: 48%;
    margin-bottom: 20px;
  }
/* ......................................Section 10............................... */
.sect10{
  padding: 40px;
}
.address{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
#form{
  width: 100%;
    }

/* ......................................Section 11............................... */
/* ......................................Section 12............................... */


.sect12{
  padding: 40px;
 

}
.footer-item{
  width: 100%;
  
}
/* ......................................Section 15 ................. */

}



























@media screen and (max-width: 800px) {
  .event{
    margin-bottom: 380px;
  }
  /* .................................Section 9........................... */
  .sect9{
    padding: 40px;
    }
    .pricing-item{
      width: 100%;
      margin-bottom: 20px;
    }
  /* .................................Section 10........................... */
  .full-name{
    flex-direction: column;
      }
    .full-name input{
      width: 100%;
      margin-top: 20px;
    } 
/* ..........................Section 11..................... */
.sect11{
  padding: 40px 30px;
}
.testimonial{
  margin: 0px 0px;
}
.slick{
  margin: 40px 10px;
  padding: 10px;
  max-height: 60vh;
}
.slick p{
font-size: 16px;
}
.testimonial-photo{
       position: relative;
       padding: 10px ;
      } 
.testimonial-photo img{
       width: 100%;
       height: 100%;
       position: relative;
       top: 0px;
       left: 0px;
       object-fit: contain;border-radius: 5px;
     }  
}